.button {
    background-color: #4d38a9;
    border-radius: 8px;
    font-weight: 300;
    font-size: 1.4rem;
    border: none;
    padding: 10px 20px;
    margin-top: 1vh;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}